<div layout="row" class="ng-scope">
    <div class="col-12">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
            <div class="col-md-12 mb-2" style="background-color: #e3f2fd; padding:10px;">
                <i class="fa fa-list" aria-hidden="true"></i> &nbsp;<span class="fs-5 fw-semibold" ng-bind="Title"></span>
            </div>
            <div>
                <div class="col-md-12 mb-2">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-primary pull-right" href="index.aspx#!/new-program"><i class="fa fa-file" aria-hidden="true"></i> Program</a>
                    </div>
                </div>
                <div class="accordion accordion-flush" id="accordionFLushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Filters
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Custom filters to go here</div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>